* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

.first {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-image: url('midia/espuma-chopp-half.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#first-footer {
  font-size: 1.5rem;
  letter-spacing: 0.8rem;
  color: #2e2e2e;
  background-color: #2e2e2e33;
  width: 100%;
  text-align: center;
}

.tipos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2em;
}

.unidade {
  border: solid 2px rgb(189, 189, 189);
  border-radius: 5px;
  position: relative;
}

.unidade img {
  max-width: 33vw;
  max-height: 22vh;
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: -3px;
}

.unidade:hover {
  border-radius: 5%;
  border: solid 0.1rem;
}

#input {
  position: absolute;
  top: 48%;
  left: 26%;
  align-self: center;
  font-size: 1.5rem;
  color: rgb(137, 246, 137);
  text-align: center;
  padding: 1rem;
  border-radius: 10%;
  background-color: rgba(17, 17, 17, 0.65);
}

.nomeUnidade {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #828181;
  
}

#lataGarrafa {
  font-size: 1.4rem;
}

.titulo {
  font-size: 1.4rem ;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 0, 0.1);
}

.second {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 2em;
  padding-top: 5em;
  background-color: #2e2e2e;
  color: rgb(233, 252, 227);
}

.second p {
  margin: 0.8rem;
}

.botoes-inicial {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

#calcular {
  background-color: rgb(255, 255, 0, 0.8);
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
  margin-top: 1em;
  padding: 0.5em 1.5em;
  border-radius: 1rem;
}

#calcular:hover {
  background-color: rgba(255, 255, 160, 0.8);
  border-color: crimson;
}

#limpar {
  background-color: rgba(255, 255, 212, 0.8);
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: 0.5rem;
  padding: 0.2rem;
  border-radius: 1rem;
}

/* #ml250lata {
  background-image: url('midia/lata_250ml.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* #ml355lata {
  background-image: url('midia/lata_355ml.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

/* #ml473lata {
  background-image: url('midia/lata_473ml.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

/* #ml250garrafa {
  background-image: url('midia/garrafa_250ml.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

/* #ml330garrafa {
  background-image: url('midia/garrafa_330ml.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

/* #ml600garrafa {
  background-image: url('midia/garrafa_600ml.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

/* Modal */
 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  line-height: 3rem;
}

.result-conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  max-width: 500px;
  text-align: center;
}

.result-conteudo h2 {
  font-size: 1.8rem;
}

.result-conteudo h3 {
  font-size: 1.5rem;
}

.result-conteudo p {
  font-size: 1.5rem;
}

#reiniciar {
  background-color: rgb(255, 255, 0, 0.8);
  font-size: 1.5rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 1.5rem;
}

#reiniciar:hover {
  background-color: rgba(255, 255, 160, 0.8);
  border-color: crimson;
}

/* .result-conteudo span {
  font-size: 125rem;
} */

.mostra-tipo {
  border: solid 1px;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: rgb(235, 246, 235);
}

#melhorTipo, #melhorUnidade, #melhorPreco {
  font-size: 1.6rem;
  font-weight: 600;
}

#melhorPrecoLitro {
  font-size: 1.6rem;
}